<div class="jumbotron">
    <h1>Crucible Hook</h1>
    <p class="lead">The glue you need to join GitLab and Crucible together.</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>GitLab Web Hooks</h2>
        <p><a class="btn btn-default" href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/web_hooks/web_hooks.md">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Crucible Commit Hooks</h2>
        <p><a class="btn btn-default" href="https://confluence.atlassian.com/display/FISHEYE/Configuring+commit+hooks">Learn more &raquo;</a></p>
    </div>
</div>
